<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--/* 템플릿 조각에 parametor 로 넘길수 있다 . 여기서 파라메터를 태그로 확장할수 있다
common_header(~{::title},~{::link}) 이 부분이 핵심이다.
::title 은 현재 페이지의 title 태그들을 전달한다.
::link 는 현재 페이지의 link 태그들을 전달한다
*/--><head th:replace="template/layout/base :: common_header(~{::title},~{::link})">

  <title>메인 타이틀</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/themes/smoothness/jquery-ui.css}">
</head>
<body>
메인 컨텐츠
</body>
</html>