<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전
자바스크립트와 타임리프가 공존하는 상황
-->
<script>
    //속성 태그를 사용해줄수 없으므로 타임리프의 [[user.username]] 문법을 사용해야한다
    var username = "[[${user.username}]]"; //인라인을 써주지 않으면 ""를 사용해서 문자열임을 명시해야한다
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
   var username2 = /*[[${user.username}]]*/ "test username";
    //객체
   var user = [[${user}]]; //이것을 자바스크립트에 꺼내주면 ToString() 이 출력된다
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]]; //""를 자동으로 문자열로 꺼낸다
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿 기능는 /* */ 주석을 이용하여 사용할수 있다
    //인라인을 하면 주석이 제거되고 (마치 th 의 Attribute substitution (속성 치환) 처럼 작동한다)
   var username2 = /*[[${user.username}]]*/ "\"test\" username";
    //객체
    //타임리프의 자바스크립트 인라인 기능을 사용하면 객체를 JSON 으로 자동변환해준다
   var user = [[${user}]];
</script>
<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
        [# th:each="user : ${users}"]
     var user[[${userStat.count}]] = [[${user}]];
        [/]
</script>
</body>
</html>
<!--/*
<script>
자바스크립트 인라인 each 결과
 var user1 = {"username":"userA","age":10};
 var user2 = {"username":"userB","age":20};
 var user3 = {"username":"userC","age":30};
*/-->